
h1 {
  padding: 5px;
  margin: 5px;
}

.subhead {
  background-color: silver;
  border-bottom: 1px solid black;
  padding: 2px;
}

ul {
  padding: 5px;
  float: right;
}

#whole-box {
  background-color: grey;
}

#footer-end {
  text-align: center;
  background-color: black;
  color: white;
}

li {
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}

#about {
  padding : 5px;
  margin: 8px;
  font-size: 16px;
}


.icon-bar {
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
